body, html{
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
img{
    width: 100%;
}
h3{
    color: rgb(173, 224, 125);
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    padding-right:  340px ;
    
}
a{
color: rgb(236, 236, 236);
text-decoration: none;
display: inline-block;
padding: 2%;
font-size: 20px;
}
a:hover{
    color: rgb(86, 185, 111);
}
.info-tab {
    text-align: center;
    color: rgb(255, 250, 250);
    position: absolute;
    top:  35%;
    left: 220px;
}
button{
    background-color: rgb(206, 203, 180);
    border-radius: 15px;
    width: 120px;

}
.wedo-h2{
    text-transform: uppercase;
}
.wedo{
    text-align: center;
}
.wedo-desc{
    padding: 25px;
}
.about{
    display: flex;
    padding: 40px;
}
.about-desc{
    padding-left: 80px;
}

.bg{
    overflow: hidden;
    background-image: url("images/Forest.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.service-img{
    width: 100%;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
.service {
    position: relative;
    
  }
.service-h {
    
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
.service-desc {
    text-align: center;
    color: #000;
    position: absolute;
    top: 35px;
    left: 16px;
  }
.product{
    overflow: hidden;
    top: 20%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-right: 80px;
    justify-content: space-evenly;

}
.product-box{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 180px;
    width: 300px;
    text-align: center;
    margin-top: 40px    ;
    cursor: pointer;
}
.product-box:hover{
    background-color: rgb(216, 214, 214);
}
.project{
   display: flex;
    justify-content: space-around;
    background-color: rgb(104, 209, 104);
}
.project-box{
    height: 180px;
    width: 600px;
    text-align: center;
}
.hard-works{
    padding: 20px;
    display: flex;
    text-align: center;
}
.work-display{
    display: flex;
    justify-content: space-around;
    
}
.project-card{
    overflow: hidden;
    padding: 5px;
    width: 600px;
    margin: 20px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 0px 1px 6px .10px;
}
/* .plans {
    position: relative;
  }
.plans-h {
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
.plans-desc {
    text-align: center;
    color: #000;
    position: absolute;
    top: 35px;
    left: 16px;
  /* } */

.plans{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-right: 80px;
    justify-content: space-evenly;

 } 
.plans-box{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 580px;
    width: 100px;
    text-align: center;
    margin-top: 40px    ;
    cursor: pointer;
}
.plans-box:hover{
    background-color: rgb(216, 214, 214);
}